/* Using universal to insure border-box is always applied  */
*, *::after, *::before { 
    box-sizing: border-box;
    justify-content: center;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: none;
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;


}

div {
    border: 3px solid black;
    font-size: 8vmin;
    text-align: center;
    vertical-align: middle;
}